torch==2.5.1
torchvision==0.20.1
opencv_python==4.13.0.92
numpy==2.4.3
# cupy-cuda12x
ultralytics
easydict
future
matplotlib
scikit-image
scipy
click
requests
tqdm
pyspng
ninja
imageio-ffmpeg==0.4.3
timm
psutil
scikit-learn
loguru==0.5.3
tensorboard==2.10.0
albumentations
